/*  General  */

html {
  color: #222;
  font-size: 16px;
  scroll-behavior: smooth; 
  line-height: 1.4;
}


body {

  background-color: #ffffff;
  font-size: 1em;
  text-align: justify;
  color: #031712;
}

img {
  background-color: pink;
}

/* Mobile Styles */


ul {
  list-style-type: none;
}
















/* Tablet Styles */


