/*  General  */

html {
  color: #222;
  font-size: 16px;
  scroll-behavior: smooth; 
}


body {
  background-color: #ffffff;
  font-size: 1em;
  font-family: 'Lato', sans-serif;
  text-align: justify;
  color: #031712;
}

a {
  text-decoration: none;
  color: #A8446A;
  background-color: transparent; 
}


ul {
  list-style-type: none;
}


h1 {
  font-family: 'Roboto Serif', serif;
}

h2 {
  font-family: 'Roboto Serif', serif;
  font-weight: 700;
  font-size: 1.875em;
  color: #A8446A;
}

p {
  font-size: 1.1em;
  line-height: 1.285em;
}

.content-wrapper {
  width: 90%;
  margin: 50px 0; 
}


img { 
  max-width: 100%;

}                    


/* ----- Base Header - Footer Styles ------*/

header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

/* -------- Header --------*/


header {
  display: flex;
  justify-content: center;
  padding: 15px 0;

}

header .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 0;
}


header nav {
  font-family: 'Roboto Serif', serif;
  font-weight: 700;
  text-transform: ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: ;
  width: 100%;
  color: #B73C57;
}

#header-name {
  display: flex;
  font-size: 1.8em;
}
